<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>ASICS3 MICROSITE TEMPLATE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta content="true" name="HandheldFriendly">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="icon" type="image/x-icon" href="/system/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/system/static/sakura.css">
</head>

<body>
    <h1>ASICS3 MICROSITE TEMPLATE</h1>
    <script type="text/javascript" src="/system/static/sakura.js"></script>
</body>
</html>